// Copyright by: P.J. Grochowski
@use "src/common/style/common";
@use "src/common/style/breakpoints";

$_: common.bem("WelcomePage");

#{$_}container {
  #{$_}canvas {
    position: relative;
    overflow: hidden;
    height: 70vh;
    color: #fff;
    background-color: hsl(210, 10%, 23%);

    @include breakpoints.mobile-height {
      height: calc(70vh + 5rem);
    }

    #{$_}image {
      position: absolute;
      object-fit: cover;
      background-size: cover;
      background-position: center;
      z-index: 1;
      width: 100%;
      height: 100%;
      opacity: 0.6;
    }

    #{$_}content {
      display: flex;
      position: relative;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 2;
      min-height: 100%;

      h2 {
        font-size: 3.5rem;
        font-weight: 300;
        text-shadow: 0 0 5px black;
      }

      #{$_}type-writer {
        font-size: 1.2rem;
      }
    }
  }
}
