// Copyright by: P.J. Grochowski
@use "src/common/style/common";
@use "src/common/style/breakpoints";

$_: common.bem("AboutPage");

#{$_}container {
  #{$_}content {
    display: flex;

    @include breakpoints.tablet-width {
      justify-content: space-evenly;
    }

    #{$_}portrait img {
      width: auto;
      border-radius: 0.25rem;
    }

    #{$_}about {
      margin-left: 3ch;
      font-size: 1.1rem;
      max-width: 50%;

      @include breakpoints.mobile-width {
        max-width: 100%;
      }
    }
  }
}
