// Copyright by: P.J. Grochowski

$mobile: 768px;
$tablet: 992px;
$desktop: 1200px;

@mixin breakpoint($size, $offset: 0px, $dim: "width") {
  @media (max-#{unquote($dim)}: calc($size + $offset)) {
    @content;
  }
}

@mixin breakpointLowerDim($size, $offset: 0px) {
  $sizeWithOffset: calc($size + $offset);
  @media (orientation: portrait) and (max-width: $size) {
    @content;
  }
  @media (orientation: landscape) and (max-height: $size) {
    @content;
  }
}

// Mobile:
@mixin mobile-width($offset: 0px) {
  @include breakpoint($mobile, $offset, "width") {
    @content;
  }
}

@mixin mobile-height($offset: 0px) {
  @include breakpoint($mobile, $offset, "height") {
    @content;
  }
}

@mixin mobile($offset: 0px) {
  @include breakpointLowerDim($mobile, $offset) {
    @content;
  }
}

// Tablet:
@mixin tablet-width($offset: 0px) {
  @include breakpoint($tablet, $offset, "width") {
    @content;
  }
}

@mixin tablet-height($offset: 0px) {
  @include breakpoint($tablet, $offset, "height") {
    @content;
  }
}

@mixin tablet($offset: 0px) {
  @include breakpointLowerDim($tablet, $offset) {
    @content;
  }
}

// Desktop:
@mixin desktop-width($offset: 0px) {
  @include breakpoint($desktop, $offset, "width") {
    @content;
  }
}

@mixin desktop-height($offset: 0px) {
  @include breakpoint($desktop, $offset, "height") {
    @content;
  }
}

@mixin desktop($offset: 0px) {
  @include breakpointLowerDim($desktop, $offset) {
    @content;
  }
}
