// Copyright by: P.J. Grochowski

$color-foreground: hsl(210, 10%, 80%);
$color-background: hsl(210, 10%, 23%);
$color-accent: hsl(212, 100%, 50%);

@function bem($block) {
  @return ".#{$block}__";
}
