// Copyright by: P.J. Grochowski
@use "src/common/style/common";
@use "src/common/style/breakpoints";

$_: common.bem("SkillsPage");

$color-border: hsl(0, 0%, 50%, 0.25);
$style-padding: 1ch 1.5ch;
$style-border-header: 3px solid $color-border;
$style-border-body: 1px solid $color-border;

#{$_}container #{$_}content {
  display: flex;
  flex-wrap: wrap;

  #{$_}technologies-table {
    flex-basis: 0;
    flex-grow: 1;

    table {
      margin-bottom: 1.5rem;

      thead th {
        padding: $style-padding;
        border-top: $style-border-header;
        border-bottom: $style-border-header;
        font-weight: bolder;
        font-size: 1.25rem;
      }

      tbody td {
        padding: $style-padding;
        border-bottom: $style-border-body;
      }
    }
  }

  #{$_}frameworks-list {
    flex-basis: 0;
    flex-grow: 1;
    margin-left: 3ch;

    @include breakpoints.mobile-width {
      margin-left: 0;
    }

    > :not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
