// Copyright by: P.J. Grochowski
@use "src/common/style/common";

$_: common.bem("SkillsRow");

#{$_}container {
  display: flex;

  #{$_}icon img {
    border-radius: 0.5ch;
    max-width: 5rem;
  }

  #{$_}content {
    display: flex;
    flex-direction: column;
    margin-left: 1ch;

    p {
      all: unset;

      &#{$_}title {
        font-size: 1.5rem;
        font-weight: bolder;
      }
    }
  }
}
