// Copyright by: P.J. Grochowski
@use "src/common/style/common";
@use "src/common/style/breakpoints";
@use "./timeline";

$_: common.bem("ExperiancePage");

$timeline-padding-desktop: 3.15rem;
$timeline-padding-mobile: 1.65rem;

#{$_}container {
  #{$_}timeline {
    border-left: timeline.$thickness solid timeline.$color;
    padding-left: timeline.$offset;
    background: linear-gradient(
      to right,
      rgba(96, 96, 96, 0.1),
      rgba(255, 255, 255, 0)
    );
    letter-spacing: 0.2px;
    padding-top: $timeline-padding-desktop;
    padding-bottom: $timeline-padding-desktop;
    list-style: none;
    margin-left: 14rem;
    margin-bottom: 0;

    @include breakpoints.mobile-width {
      padding-top: $timeline-padding-mobile;
      padding-bottom: $timeline-padding-mobile;
      margin-left: 0;
    }
  }
}
