// Copyright by: P.J. Grochowski
@use "src/common/style/common";
@use "src/common/style/breakpoints";
@use "./timeline";

$_: common.bem("ExperienceRow");

#{$_}timeline-event {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  position: relative;

  h1 {
    font-weight: 300;
    font-size: 1.4em;
  }

  h3 {
    font-weight: 600;
    font-size: 1rem;
  }

  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
  }

  &::before {
    top: -0.25rem;
    left: -15rem;
    content: attr(data-when);
    white-space: pre-line;
    text-align: center;
    font-weight: 300;
    font-size: 0.9em;
    min-width: 20ch;
  }

  &::after {
    $size: calc(4 * timeline.$thickness);

    left: calc(-1 * (timeline.$offset + timeline.$thickness/2));
    transform: translateX(-50%);
    background: #000;
    border-radius: 50%;
    width: $size;
    height: $size;
    top: 5px;
  }

  &--incomplete::after {
    border: 0.25rem solid black;
    background: white;
  }

  @media (max-width: breakpoints.$mobile) {
    padding-top: 3.5rem;

    &::before {
      left: 0;
      text-align: left;
    }
  }
}
