// Copyright by: P.J. Grochowski
@use "./header";
@use "src/common/style/common";
@use "src/common/style/breakpoints";

$_: common.bem("HeaderLogo");

#{$_}container {
  color: inherit;
  text-decoration: none;
  font-size: 1.75rem;
  margin-left: 0.5ch;
  padding: header.$size-highlight-border;

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }

  &:active {
    padding-bottom: 0;
    border-bottom: header.$style-highlight-border;
  }

  @include breakpoints.mobile {
    font-size: 2rem;
  }
}
