// Copyright by: P.J. Grochowski
@use "src/common/style/common";
@use "src/common/style/breakpoints";

$_: common.bem("Header");

$color-shadow: #333;

$style-border: 1px solid #555;

#{$_}nav {
  padding: 0.5rem;
  color: common.$color-foreground;
  background-color: common.$color-background;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  inset: auto 0 auto 0;
  transition: 0.4s;
  box-shadow: 0 0 20px 2px $color-shadow;

  @include breakpoints.mobile {
    border-bottom: $style-border;
  }

  &--hidden {
    transform: translateY(-100%);
  }

  #{$_}menu-button {
    display: none;

    @include breakpoints.mobile {
      display: flex;
      margin: auto 1ch;
    }
  }

  #{$_}item-container {
    margin-left: auto;
    position: initial;

    #{$_}item-list {
      display: flex;
      align-items: center;
      overflow-y: auto;

      @function getWidth() {
        @return min(70vw, 250px);
      }

      @include breakpoints.mobile {
        flex-flow: column;
        position: absolute;
        background-color: common.$color-background;
        opacity: 0.95;
        align-items: flex-start;
        border-top: $style-border;
        border-right: $style-border;
        inset: 100% auto auto calc(-1 * getWidth());
        width: getWidth();
        height: calc(100vh - 100%);
        transition: 0.4s;

        &--visible {
          transform: translateX(getWidth());
          box-shadow: 0 0 20px 2px $color-shadow;
        }
      }
    }
  }
}
