// Copyright by: P.J. Grochowski
@use "src/common/style/common";

$_: common.bem("MenuButton");

$thickness: 0.25ch;

#{$_}container {
  #{$_}button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 50%;
    border: $thickness solid common.$color-foreground;
    width: 2.5rem;
    height: 2.5rem;

    #{$_}bar {
      &1,
      &2,
      &3 {
        position: absolute;
        width: 80%;
        height: $thickness;
        background-color: common.$color-foreground;
        border-radius: 1rem;
        transition: (inset 0.3s linear 0s), (transform 0.3s linear 0s),
          (opacity 0.1s linear 0.3s);
      }

      &1 {
        top: 24%;
      }

      &3 {
        bottom: 24%;
      }
    }

    &--active {
      @function calcPos() {
        @return calc(50% - 0.25ch / 2);
      }

      #{$_}bar {
        &1 {
          top: calcPos();
          transform: rotate(-45deg);
        }

        &2 {
          opacity: 0;
        }

        &3 {
          bottom: calcPos();
          transform: rotate(45deg);
        }
      }
    }
  }
}
