// Copyright by: P.J. Grochowski
@use "./header";
@use "src/common/style/common";
@use "src/common/style/breakpoints";

$_: common.bem("NavItem");

#{$_}container {
  margin-right: 1rem;

  @include breakpoints.mobile {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  #{$_}button {
    flex-grow: 1;
    color: inherit;
    text-decoration: none;
    text-shadow: 0 0 4px #777;

    @include breakpoints.mobile {
      font-size: 1.2rem;
      border-radius: 1em;
      box-shadow: 0 0 2px 2px common.$color-foreground;
      margin-inline: 1ch;
      margin-top: 1ch;

      span {
        display: block;
        margin-inline: 1rem;
        margin-block: 0.5ch;

        &::before {
          content: "#";
          margin-right: 0.5ch;
        }
      }

      &:active {
        background-color: common.$color-foreground;
      }
    }

    &:hover {
      color: inherit;
      text-decoration: inherit;
    }

    &:active span {
      border-bottom: header.$style-highlight-border;

      @include breakpoints.mobile {
        border-bottom: none;
      }
    }
  }
}
