// Copyright by: P.J. Grochowski
@use "src/common/style/common";
@use "src/common/style/breakpoints";

$_: common.bem("ArrowButton");

$size-border: var(--size-border);
$style-border: $size-border solid rgba(255, 255, 255, 0.9);

#{$_}container {
  --size-border: 2rem;
  @include breakpoints.mobile {
    --size-border: 1.5rem;
  }

  position: absolute;
  z-index: 1;
  top: calc(50% - $size-border / 2);
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  #{$_}icon {
    border: $size-border solid transparent;
    filter: drop-shadow(0 0 8px black);
    cursor: pointer;

    $translate-offset: 25%;

    &--left {
      border-right: $style-border;
      transform: translateX(-$translate-offset);
    }

    &--right {
      border-left: $style-border;
      transform: translateX($translate-offset);
    }
  }
}
