// Copyright by: P.J. Grochowski
@use "src/common/style/common";

$_: common.bem("CarouselItem");

#{$_}container {
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;

  #{$_}overlay {
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.8;

    &--active {
      opacity: 0;
    }
  }
}
