// Copyright by: P.J. Grochowski
@use "src/common/style/common";

$_: common.bem("Carousel");

#{$_}container {
  position: relative;
  touch-action: pan-y;
  border-radius: 0.25rem;
  overflow: clip;

  &:hover {
    cursor: grab;
  }

  &--grabbed {
    touch-action: pan-x pan-y;
  }

  &--grabbed:hover {
    cursor: grabbing;
  }
}
