// Copyright by: P.J. Grochowski
@use "src/common/style/common";

$_: common.bem("CarouselItemList");

#{$_}container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: hsl(0, 0%, 0%, 0.5);
}
