// Copyright by: P.J. Grochowski

* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: Roboto, Arial;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 2rem;
  font-weight: 1000;
  font-size: 3rem;
  text-decoration: underline;
}

h1::before {
  content: "#";
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.row-no-padding > [class*="col"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
