// Copyright by: P.J. Grochowski
@use "src/common/style/common";

$_: common.bem("Footer");

#{$_}container {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  color: common.$color-foreground;
  background-color: common.$color-background;

  #{$_}left {
    display: inline-flex;
  }

  #{$_}right {
    display: inline-flex;
    margin-left: auto;
  }
}
