// Copyright by: P.J. Grochowski
@use "src/common/style/common";
@use "src/common/style/breakpoints";

$_: common.bem("Container");

$breakWidths: (
  breakpoints.$desktop: 0.8,
  breakpoints.$tablet: 0.725,
  breakpoints.$mobile: 0.705,
  575px: 1,
);

#{$_}container {
  margin: 2rem auto;
  padding: 0 2ch;
  max-width: calc(0.95 * breakpoints.$desktop);

  @each $breakWidth, $scaleFactor in $breakWidths {
    @include breakpoints.breakpoint($breakWidth) {
      max-width: calc($scaleFactor * $breakWidth);
    }
  }

  > :not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
