// Copyright by: P.J. Grochowski
@use "src/common/style/common";

$_: common.bem("IconButton");

$colorHighlight: hsla(0, 0%, 50%, 0.8);

#{$_}container {
  display: inline-block;
  border-radius: 0.5ch;
  width: 3rem;
  padding: 0.5ch;
  margin: 0.5ch;

  img {
    max-width: 100%;
    vertical-align: middle;
  }

  &:hover,
  &:active,
  &:visited {
    background-color: $colorHighlight;
  }

  &:focus {
    outline: 0;
    box-shadow: $colorHighlight 0px 0px 2px 4px;
  }
}
