// Copyright by: P.J. Grochowski
@use "src/common/style/common";

$_: common.bem("Image");

#{$_}container {
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    object-fit: scale-down;
  }
}
