// Copyright by: P.J. Grochowski
@use "src/common/style/common";

$_: common.bem("Link");

@function linkColor($lightness) {
  @return hsl(211, 100%, $lightness);
}

#{$_}link {
  display: inline-block;
  color: linkColor(50%);
  text-decoration: none;

  &:hover {
    color: linkColor(35%);
  }
}
