// Copyright by: P.J. Grochowski
@use "src/common/style/common";

$_: common.bem("Tag");

#{$_}container {
  display: inline-block;
  padding: 0.25em 0.5em;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  border-radius: 0.25em;

  &--good {
    color: white;
    background-color: hsl(134, 60%, 40%);
  }

  &--warning {
    color: black;
    background-color: hsl(45, 100%, 50%);
  }
}
