// Copyright by: P.J. Grochowski
@use "src/common/style/common";

$_: common.bem("Typewriter");

$carret-color: rgba(255, 255, 255, 0.8);

#{$_}container {
  span {
    padding: 3px;
    overflow: hidden;
    border-right: 0.2rem solid $carret-color;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15rem;
    animation: blink-caret 0.8s step-end infinite;
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: $carret-color;
    }
  }
}
