// Copyright by: P.J. Grochowski
@use "src/common/style/common";
@use "src/common/style/breakpoints";

$_: common.bem("CertificatesPage");

#{$_}container #{$_}content {
  display: flex;
  flex-wrap: wrap;

  #{$_}certificate-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    padding-right: 1ch;

    @include breakpoints.tablet-width {
      padding-right: 0;
    }

    > * {
      padding-bottom: 2rem;
    }
  }

  #{$_}badge-list {
    display: flex;
    flex-direction: column;
    flex-grow: 0.25;
    align-items: center;

    @include breakpoints.tablet-width {
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
  }
}
