// Copyright by: P.J. Grochowski
@use "src/common/style/common";

$_: common.bem("CertificatesRow");

$margin-bottom: 0.3rem;

#{$_}container {
  display: flex;

  #{$_}icon img {
    border-radius: 0.5ch;
    max-width: 5rem;
  }

  #{$_}content {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    padding-left: 2ch;
    line-height: 1.2;

    #{$_}title {
      all: unset;
      font-size: 1.25rem;
      font-weight: bolder;
      margin-bottom: $margin-bottom;
    }

    #{$_}issuer {
      all: unset;
      margin-bottom: $margin-bottom;
    }
  }
}
