// Copyright by: P.J. Grochowski
@use "./projects";
@use "src/common/style/common";

$_: common.bem("ProjectCarousel");

#{$_}container {
  box-shadow: projects.$box-shadow;

  * {
    max-height: 80vh;
  }
}
