// Copyright by: P.J. Grochowski
@use "src/common/style/common";

$_: common.bem("ProjectFeaturesPanel");

#{$_}container {
  margin-top: 1rem;

  #{$_}title {
    text-decoration: underline;
    font-weight: 500;
  }

  #{$_}list {
    list-style-type: none;
    margin: 0;
    padding-left: 4ch;

    #{$_}item {
      position: relative;
      white-space: pre-line;

      &::before {
        position: absolute;
        content: "->";
        transform: translateX(-150%);
      }
    }
  }
}
