// Copyright by: P.J. Grochowski
@use "./projects";
@use "src/common/style/common";
@use "src/common/style/breakpoints";

$_: common.bem("ProjectDetailsPanel");

#{$_}container {
  border-radius: 0.25rem;
  box-shadow: projects.$box-shadow;
  overflow: hidden;

  > * {
    padding: 0.75rem;
  }

  #{$_}header {
    display: flex;
    background-color: hsla(0, 0%, 0%, 0.03);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.125);

    #{$_}icon img {
      border-radius: 0.5ch;
      max-width: 5rem;
    }

    #{$_}details {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-left: 1ch;

      p {
        all: unset;
      }

      #{$_}title-and-status {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;
        line-height: 1.2;
        font-weight: bolder;

        > * {
          align-self: center;
        }

        @include breakpoints.tablet-width {
          flex-direction: column;
          > * {
            align-self: flex-start;
          }
        }
      }
    }
  }

  #{$_}description p {
    all: unset;
    white-space: pre-line;
  }
}
