// Copyright by: P.J. Grochowski
@use "src/common/style/common";
@use "src/common/style/breakpoints";

$_: common.bem("ProjectsPage");

#{$_}container #{$_}content {
  #{$_}project {
    display: flex;
    flex-wrap: wrap;

    > * {
      flex-grow: 1;
      flex-basis: 0;

      @include breakpoints.tablet-width {
        flex-basis: auto;
      }
    }

    #{$_}details {
      margin-left: 1.5ch;

      @include breakpoints.tablet-width {
        margin-top: 0.5rem;
        margin-left: 0;
      }
    }
  }

  > :not(:last-child) {
    padding-bottom: 2rem;
  }
}
